<%- include("header") -%>

<div class="jumbotron">
  <h1>Uh oh - Asset number: <span class="text-danger"><%=foundAsset.number%></span> already exists</h1>
  <br>
  <a class="btn btn-lg btn-primary m-5" href="/edit/<%=assetid%>">Go Back</a>
  <a class="btn btn-lg btn-outline-primary" href="/">Home</a>
</div>




<%- include("footer") -%>
